.header {
  &[data-mantine-color-scheme="light"] {
    background-color: var(--mantine-color-gray-0);
  }
  &[data-mantine-color-scheme="dark"] {
    background-color: var(--mantine-color-gray-9);
  }
}

.navbutton {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  }
}
